.bs-footer {
    // background-color: $clr-dark;
    position: relative;
    // background-image: url("../images/footbg.png");
    padding-top: 60px;
    padding-bottom: 15px;
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(21, 31, 66 ,0.8);
    }
    .footer-content{
        padding-bottom: 20px;
        .foot-col{
            font-size: 13px;
            color: rgba(255, 255, 255, 0.8);
            font-family: $fnt1;
            font-weight: 400;
            margin-right: 48px;
            &:last-child{
                margin-right: 0;
            }
            .about-company{
                line-height: 1.6;
                margin-top: 15px;
                p{
                    font-size: 14px;
                }
            }
            h4{
                font-size: 20px;
                color: $clr-white;
                font-weight: 600;
                margin-bottom: 20px;
                &::before {
                    content: "";
                    width: 45px;
                    height: 1px;
                    background-color: $clr-theme;
                    display: block;
                    margin-bottom: 10px;
                }
            }
            a{
                font-size: 14px;
                font-weight: 400;
                color: rgba(255, 255, 255, 0.8);
                text-decoration: none;
                &:hover{
                    color: $clr-theme;
                }

            }
            .contact-styling{
                margin-bottom: 15px;
                display: flex;
                font-size: 14px;
                i{
                    margin-right: 10px;
                }
            }
            .foot-links{
                list-style: none;
                padding: 0;
                li{
                    margin-bottom: 15px;
                    a{
                        color: rgba(255, 255, 255, 0.8);
                        font-size: 14px;
                        font-weight: 400;
                        &:hover{
                            color: $clr-theme;
                        }
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
           

            }
            // .foot-logo{
            //     width: 191px;
            // }
        }
    }
    .footer-social{
        padding-top: 15px;
        border-top: 1px solid #374851;
        .copy-dtls{
            font-size: 13px;
            color: rgba(255, 255, 255, 0.8);
            font-weight: 400;
            margin-bottom: 0;
        }
        .text-right{
            font-size: 13px;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.8);
            a{
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .bs-footer {
        .footer-content{
            .foot-col{
                margin-bottom: 30px;
            }
        }
        .footer-social{
            .copyright{  
                text-align: center;
            }
            .text-right{
                text-align: center !important;
            }
        }
    }
}
