.lyt-section{
    padding: 70px 0;
    position: relative;
    &.typ-bnnr{
        padding: 0;
    }
    &.bg-gray{
        background-color: $clr-gray;
    }
    &.typ-ourgenesis{
        .logo-sec{
            border-right: solid 1px rgba(0,0,0,0.08);
            border-bottom: solid 1px rgba(0,0,0,0.08);
            &:nth-child(4n+0){
                border-right: none;
            }
            &:nth-child(5n){
                border-bottom: none;
            }
            &:nth-child(6n){
                border-bottom: none;
            }
            &:nth-child(7n){
                border-bottom: none;
            }
            &:nth-child(8n){
                border-bottom: none;
            }
            a{
                min-height: 150px;
                padding: 30px;
                display: flex;
                -ms-flex-pack: center;
                justify-content: center;
                -ms-flex-align: center;
                align-items: center;
                position: relative;
                margin: 0;
            }
            // &.typ-btm-brder-none{
            //     border-bottom: none;
            // }
        }
    }
    .who-we-are {
        text-align: center;
        .title{
            font-size: 16px;
            color: #000000;
        }
        .description{
            font-size: 14px;
            color: #485760;
        }
    }
        &.typ-contact-form{
            min-height: 450px;
            overflow: hidden;
            .sticky-img{
                position: absolute;
                top: 0;
                left: 0;
                // width: 42%;
                // height: 450px
            }
        }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .lyt-section{
        padding: 50px 0;
        &.typ-contact-form{
            .sticky-img{
                position: relative;
            }
        }
        &.typ-ourgenesis{
            .logo-sec{
                &:nth-child(5n){
                    border-bottom: solid 1px rgba(0,0,0,0.08);
                }
                &:nth-child(6n){
                    border-bottom: solid 1px rgba(0,0,0,0.08);
                }
            }
         
        }
    }
}