<footer class="bs-footer set-bg" data-img="assets/images/footbg.png">
	<div class="container footer-box">
		<div class="row footer-content">
			<div class="col-md-3 foot-col">
				<img src="assets/images/footerseashorelogo.png" alt="seashorelogo" class="foot-logo">
				<div class="about-company">
					<p>Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
				</div>
			</div>
			
			<div class="col-md-3  foot-col">
				<h4>Contact</h4>
				<div class="contact-styling">
					<span><i class="icon icon-map-pin"></i></span>
					<span class="address">Singapore HQ, 11, Collyer Quay,
						<span class="d-block"> #17-00, The Arcade</span> <span class="d-block">Singapore, 049317</span></span>
				</div>
				<div class="contact-styling">
					<span><i class="icon icon-message"></i></span>
					<span><a href="mailto:hello@sea-shore.tech">hello@sea-shore.tech</a></span>
				</div>
				<div class="contact-styling">
					<span><i class="icon icon-telephone"></i></span>
					<span><a href="tel:+919218088010">+91-9218088010</a>
				</div>
			</div>
			<div class="col-md-2  foot-col">
				<h4>Quick Links</h4>
				<ul class="foot-links">
					<li><a href="index.php">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Solutions</a></li>
					<li><a href="#">Products</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Sitemap</a></li>
				</ul>
			</div>
			<div class="col-md-2  foot-col">
				<h4>Follow Us On</h4>
				<ul class="foot-links">
					<li><a href="index">Facebook</a></li>
					<li><a href="services">Linkedin</a></li>
					<li><a href="about-us">Twitter</a></li>
					<li><a href="contact-us">Youtube</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-social">
		<div class="container">
			<div class="row copyright">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<p class="copy-dtls">© 2021 Seashore Technologies Pte. Ltd.</p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 text-right">
					<a href="#">Terms & Condition</a> |
					<a href="#">Privacy Policy</a>
				</div>
			</div>
		</div>
	</div>
</footer>