<header class="bs-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg">

            <a class="navbar-brand" href="#">
                <img src="assets/images/seashorelogo.png" alt="seashorelogo">
            </a>
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="bar bar1"></span>
              <span class="bar bar2"></span>
              <span class="bar bar3"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Solutions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">5G ready 4G deployments</a>
                      <a class="dropdown-item" href="#">Indoor Networks</a>
                      <a class="dropdown-item" href="#">Private Networks</a>
                      <a class="dropdown-item" href="#">Industrial IoT</a>
                      <a class="dropdown-item" href="#">Multi-access Edge Solution</a>
                      <a class="dropdown-item" href="#">Neutral Hosting Solutions</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact us</a>
                </li>
              </ul>
            </div>
          </nav>   
    </div>
       
</header>